.upload {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #9d5ed4, rgb(90,20,220));
    border: none;
  }
  
  .upload h2 {
    margin-bottom: 10px;
  }
  
  .upload input {
    margin-right: 15px;
    padding: 10px;
    background-color: #45a049;
    border-radius: 5px;
  }
  
  .upload button {
    padding: 12px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .upload button:hover {
    background-color: rgb(148, 0, 0);
  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
  }